.bodyBg{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100%;
    padding-top: 56px;
}

.titleText{
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 46px;
}

.intelTextHeader{
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 5px;
}
.intelTextBody{
    font-family: "Merriweather", serif;
    font-size: 14px;
}

.intelPadding{
    padding-left: 16px;
}